<form class="form">
  <mat-form-field>
    <mat-label>{{ 'app.searchRegion' | translate }}</mat-label>
    <input type="text" matInput [formControl]="regionForm" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      @if (suggestionsReq$ | async; as suggestionsReq) {
        @if (suggestionsReq.loading) {
          {{ 'app.loading' | translate }}
        } @else if (suggestionsReq.value) {
          @for (suggestion of suggestionsReq.value; track $index) {
            <mat-option [value]="suggestion.nom" (onSelectionChange)="regionSelected.next(suggestion.code)">{{ suggestion.nom }}</mat-option>
          }
        }
      }
    </mat-autocomplete>
  </mat-form-field>
</form>