<form class="form">
  <mat-form-field class="region-form">
    <mat-label>{{ 'app.searchRegion' | translate }}</mat-label>
    <input #regionInput type="text" matInput [formControl]="regionForm" [matAutocomplete]="auto">
    @if (regionForm.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="regionForm.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-autocomplete #auto="matAutocomplete">
      @if (vm$ | async; as vm) {
        @if (vm.loading) {
          <mat-option disabled class="disabled-option">{{ 'app.loading' | translate }}</mat-option>
        } @else {
          @if (vm.noData) {
            <mat-option disabled class="disabled-option">{{ 'app.noData' | translate }}</mat-option>
          }
          @if (vm.req.error) {
            <mat-option disabled class="disabled-option">{{ 'app.errorHttp' | translate }}</mat-option>
          }
          @if (regionForm.value) {
            @for (suggestion of vm.req.value; track suggestion.code) {
              <mat-option [value]="suggestion.nom" (onSelectionChange)="regionSelected.next(suggestion.code)">
                {{ suggestion.nom }}
              </mat-option>
            }
          }
        }
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
