.form {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.region-form {
    min-width: 20rem;
}

.disabled-option {
    cursor: default;
    pointer-events: none;
    font-style: italic;
    background-color: transparent !important;
}

mat-option ::ng-deep {
    --mat-option-selected-state-layer-color: var(--mat-option-focus-state-layer-color); 
    mat-pseudo-checkbox {
        display: none;
    }
}